.thang10{
    color: rgb(0, 140, 255);
}
.chutrang{
    color: white;
}
.nenvang{
    background-color: rgb(255, 196, 0);
}
.chudo{
    color: red;
}
.chuxanh{
    color: blue;
}
.vien{
    width: 0px;
    height: 30px;
    border: 1px solid rgb(63, 58, 58)
}
sub{
    color:brown;
}